<div class="navbar bg-base-100">
  <div class="flex-1">
    <a
      class="btn btn-ghost text-xl"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Map Implementations - Openlayers</a
    >
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="/page1"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Vegetation Map - DataWA</a
        >
      </li>
      <li>
        <a
          routerLink="/page2"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Soil and Landscape Grid of Australia</a
        >
      </li>
    </ul>
  </div>
</div>
